﻿@using Demo.Northwind.UI.Infrustructor
@{
    Layout = null;
    
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Northwind @Configuration.SubHeader</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap toastr CSS -->
    <link href="~/Content/toastr.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/Site.css" rel="stylesheet">
</head>
<body ng-app="northWind">
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:@Configuration.HeaderColor">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Northwind Traders (@Configuration.SubHeader) </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a ui-sref="products">Products</a></li>
                    @*<li><a href="#contact">Contact</a></li>*@
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <ui-view>
        </ui-view>

    </div><!-- /.container -->
    @Scripts.Render("~/bundles/Libs")
    @Scripts.Render("~/bundles/App")
</body>
</html>
