﻿<div>
    <h2>Products</h2>
    <div ng-show="vm.showSpinner" class="view-loading-spinner">
        <img src="~/Content/images/loader.gif"/>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tr ng-repeat="prod in vm.products" ng-class="{'danger':prod.discontinued}" >
            <td><strong>{{prod.productName}}</strong></td>
            <td>{{prod.quantityPerUnit}}</td>
            <td>{{prod.category.categoryName}}</td>
            <td>{{prod.unitPrice | currency:'$'}}</td>
            <td><button ng-click="vm.showEditProduct(prod)" class="btn btn-warning">Edit</button></td>
        </tr>
    </table>
    <div>
        <uib-pagination total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
    </div>
    <script type="text/ng-template" id="editProductModal.html">
        <div ng-show="vm.showSpinner" class="view-loading-spinner">
            <img src="/Content/images/loader.gif" />
        </div>
        <div class="modal-header">
            <h3 class="modal-title">{{vm.product.productId}} - {{vm.product.productName}}</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="vm.product.productName" />
            </div>
            <div class="form-group">
                <label>Quantity</label>
                <input type="text" class="form-control" ng-model="vm.product.quantityPerUnit" />
            </div>
            <div class="form-group">
                <label>Supplier</label>
                <select class="form-control" ng-model="vm.product.supplierId" ng-options="sup.supplierId as sup.companyName for sup in vm.suppliers" ></select>
            </div>
            <div class="form-group">
                <label>Category</label>
                <select class="form-control" ng-model="vm.product.categoryId" ng-options="cat.categoryId as cat.categoryName for cat in vm.categories"></select>
            </div>
            <div class="form-group">
                <label>Unit Price</label>
                <input type="text" class="form-control" ng-model="vm.product.unitPrice" />
            </div>
            <div class="form-group">
                <label>Units In Stock</label>
                <input type="text" class="form-control" ng-model="vm.product.unitsInStock" />
            </div>
            <div class="form-group">
                <label>Units On Order</label>
                <input type="number" class="form-control" ng-model="vm.product.unitsOnOrder" />
            </div>
            
            <div class="form-group">
                <label>Reorder Level</label>
                <input type="number" class="form-control" ng-model="vm.product.reorderLevel" />
            </div>
            <div class="form-group">
                <label>Discontinued</label>
                <input type="checkbox" ng-model="vm.product.discontinued" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="vm.save()" >Save</button>
            <button class="btn btn-primary" type="button" ng-click="vm.cancel()">Cancel</button>
        </div>
    
    </script>
</div>

